<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.CapstoneDesign"
        tools:targetApi="31">
        <activity android:name=".activity.AlbumDiaryListActivity" />
        <activity android:name=".activity.AlbumCreateActivity" />
        <activity android:name=".fragment.FeedEventRootFragment" />
        <activity android:name=".activity.DiaryActivity" />
        <activity android:name=".activity.GuestBookActivity" />
        <activity android:name=".activity.GuestBookCheckActivity" />
        <activity android:name=".activity.PostCreateActivity" />
        <activity android:name=".activity.PostCheckActivity" />
        <activity android:name=".activity.AlarmActivity" />
        <activity android:name=".activity.WishCreateActivity" />
        <activity android:name=".activity.MissionActivity" />
        <activity android:name=".activity.MissionCreateActivity" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="fzwnh8umkh" /> <!-- MainActivity에서 intent-filter 제거 -->
        <!--<activity android:name=".activity.MainActivity" />  SignupNameActivity에 intent-filter 추가 -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:label="Start 액티비티"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SignupNameActivity"
            android:label="SignupIcon 액티비티"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.SignupIconActivity"
            android:label="SignupIcon 액티비티"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.SignupTermsActivity"
            android:label="SignupTerms 액티비티"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.SignupSuccessActivity"
            android:label="SignupSuccess 액티비티"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.SignupInviteActivity"
            android:label="SignupInvite 액티비티"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao{a06273008a3877ae89b4b37f85acaeab}" />
            </intent-filter>
        </activity>
    </application>

</manifest>